.interview-container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 80%;
    margin: auto;
    margin-top:3vh !important;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.conversation {
    flex-grow: 1;
    overflow-y: auto;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.message {
    margin: 10px 0;
    padding: 20px;
    border-radius: 4px;
    background-color: #f4f4f8;
    width: fit-content;
    padding-right:20px;
}

.message.user {
    background-color: #FEEAE8!important;
    align-self: flex-start;
}

.message.ovii {
    background-color: #E6F4F1!important;
    align-self: flex-end;
}

.message-input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* chatComponent.css */

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-left: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .interview-container {
        max-height: 78vh;
        padding-bottom: env(safe-area-inset-bottom);
        margin-bottom: 1rem;
    }
    .message-input-container {
        padding-bottom: max(env(safe-area-inset-bottom), 20px);
    }
}

