.containerClass{
    /*height: 100vh !important;*/
}

#progressBar{
   margin-top: 2rem;
}

#progress1{
    margin-right: 0.938rem;
}

#progress2{
    margin-right: 0.938rem;
}

#progress3{
    margin-right: 0.938rem;
}

#progress4{
    margin-right: 0.938rem;
}

