#main-container{
    margin-top: 6.75rem;
}
#heading{
    margin-top: 2.313rem;
}
#description{
    margin-top: 0.625rem;
}
#otpFields{
    margin-top: 2.688rem;
}
#button{
    align-items: center;
    margin-top: 2.187rem;
}
#resend{
    margin-top: 1.25rem;
}