#icon{

}
#title{
    margin-top:0.938rem;
}
#description{
    margin-top:0.313rem;
}
#button1{
    width: 5.5rem;
    height: 1.75rem;
    flex-grow: 0;
    margin: 0 0 0 0;
    padding: 0.5rem 1.625rem 0.5rem 1.688rem;
    border-radius: 6px;
    border: solid 1px #1d4ede;
    background-color: #1d4ede!important;
    flex-grow: 0;
    font-family: Inter;
    font-size: 0.625rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
#button2{
    width: 5.5rem;
    height: 1.75rem;
    flex-grow: 0;
    margin: 0 0 0 2.438rem;
    padding: 0.5rem 0.813rem;
    border-radius: 6px;
    border: solid 1px #1d4ede;
    background-color: #fff;
    flex-grow: 0;
    font-family: Inter;
    font-size: 0.625rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1d4ede;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
