@import url('https://fonts.googleapis.com/css?family=Inter');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-resolution: 1.75dppx) and (max-resolution: 2dppx) {
  html {
    font-size: 14px; /* Adjust as necessary */
  }
}


@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

@media (max-height: 745px){
  html {
    font-size: 15px;
  }
}

