@import url('https://fonts.googleapis.com/css?family=Inter');
.logo{
    margin-top: 1.063rem;
    margin-left: 0.635rem;
    height: 2.325rem;
}

.checkCircle{
    width: 1.85rem!important;
    height: 1.85rem!important;
    flex-grow: 0;
    margin: 0 0 0 2.625rem;
    padding: 0.5rem 0.344rem 0.406rem 0.375rem;
}

#circle-1{
    margin-top: 11.5rem;
    /*margin-top: 17rem;*/
}

.headingText{
    width: 5.75rem;
    height: 1.188rem;
    flex-grow: 0;
    margin: 0 8.813rem 0rem 0;
    white-space: nowrap;
}

.headDescription{
    width: 14.563rem;
    height: 1.063rem;
    flex-grow: 0;
    margin: 0 .438rem 0 4.5rem;
    white-space: nowrap;
}

.titleDiv{
    display: flex;
    align-items: center;
    margin-top: 1.938rem;
}

#text-1{
    margin-top: 11.5rem!important;
    /*margin-top: 17rem;*/
}

.footIcons{
    /*margin: 13.125rem 0 2.5rem 2.563rem;*/
    display: flex;
}

.mailIcon{
    margin: 13.75rem 0 0 0;
    margin-left: 7.25rem;
}

.footText{
    width: 8.125rem;
    height: 1.063rem;
    margin: auto 0 0 0.2rem;
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #667085;
}

.sidebarContainer{
    width: 28.25rem;
    margin: 0 0rem 0 0;
    padding: 1.188rem 2.125rem 0.25rem 0.625rem;
    background-color: #f9fafc;
    max-height: 100% !important;
    justify-content: center;
}